<div class="container">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-card *ngIf="errorOccurred" class="error-card">
    <mat-card-title>An error has occurred</mat-card-title>
    <mat-card-content>{{ errorMessage }}</mat-card-content>
  </mat-card>
  <div *ngIf="!errorOccurred">
      <mat-card *ngFor="let container of containerNames">
    <mat-card-title>{{ container.name | sanitizedContainerName }}</mat-card-title>
    <mat-card-actions><button mat-raised-button color="primary" (click)="openContainer(container.name)">Open</button></mat-card-actions>
        </mat-card>
  </div>
</div>
