@model VnVGallery.Data.Gallery
@{
    ViewBag.Title = "Details";
}
           
@foreach (var item in Model.Photos)
{
<div class='imagefield_album'>
<div class='image'><a href='@Url.Content(item.BlobUri)' data-lightbox="@Model.Name">
<img src='@Url.Content(item.BlobUri)' class='lazy' alt='thumb1' /></a></div>
<div class='image_album_name'><p>@item.FileName</p></div></div>
}
@section Scripts {
   <script type="text/javascript">
	$(document).ready(function(){
		$("img.lazy").lazyload({
			event: "scrollstop"
		});
	});
</script> 
}