@model VnVGallery.Controllers.AccountModel

@{
    ViewBag.Title = "Index";
}
<div class="form-left">
    <p>@Model.Email</p>
    <a href="@Url.Action("Create", "Galleries")">Create a new gallery</a>
    <h2>Galleries</h2>
    <ul>
        @foreach (var modelGallery in Model.Galleries)
        {
            <li><a href="@Url.Action("Edit", "Galleries", new { modelGallery.Id})">@modelGallery.Name</a></li>
        }
    </ul>
</div>