<div class="container">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-card *ngIf="errorOccurred" class="error-card">
    <mat-card-title>An error has occurred</mat-card-title>
    <mat-card-content>{{ errorMessage }}</mat-card-content>
  </mat-card>
  <div *ngIf="!errorOccurred">
      <mat-card *ngFor="let container of containerNames" (click)="openContainer(container.name)" class="container-card">
          <mat-card-title>{{ container.name }}</mat-card-title>
        </mat-card>
  </div>
</div>
